# Python
.venv/
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*

# ML models
models/*.joblib
models/*.pkl

# MLflow
mlruns/

# IDE
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log